.busket {
  &_wrap {
    height: 56vh;
    overflow: auto;
    min-height: 438px;
    width: 90%;
  }
  &_item {
    border: 1px solid #343b3f;

    margin-bottom: 20px;
    &_body {
      padding: 15px;
    }
  }
  &_img {
    width: 40%;
    border-radius: 50%;
    overflow: hidden;
  }
}

.all_info {
  font-size: 28px;
}

.additional {
  width: 90%;
  max-width: 420px;
}