.type {
  flex-direction: column;
  & div {
    font-size: 12px;
    padding: 4px;
    &:hover {
      background: #17a2b8;
    }
  }
  & a {
    font-size: 14px;
    font-weight: bold;
    padding: 5px !important;
    display: block;
    color: #343b3f;
    &:hover {
      color: #dee2e6;
    }
  }
  & .active {
    background: #00a8c3;
    color: #fff;
  }
}