.type {
  background: #524f4f;
  color: #fff;
  & div {
    font-size: 14px;
    padding: 4px;
    &:hover {
      background: #343b3f;
    }
  }
  & a {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 5px !important;
    display: block;
    &:hover {
      color: #dee2e6;
    }
  }
}