* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:hover {
  /*color: #fff !important;*/
  text-decoration: none !important;
}

.pagination a {
  width: 30px;
  height: 30px;
  border: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li.active a {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  outline: none;
}
.pagination a {
  outline: none;
}

.todo-list {
  min-height: 79vh;
  padding-top: 56px;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.footer {
  color: #fff;
}

.card-img, .card-img-bottom, .card-img-top {
  flex-shrink: 0;
  width: 70% !important;
  margin: auto;
}



.my-node-enter {
  opacity: 0;
  transform: translateX(400px);
}
.my-node-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: 200ms;
}
.my-node-exit {
  opacity: 1;
  transform: translateX(0);
}
.my-node-exit-active {
  opacity: 0;
  transform: translateX(400px);
  transition: 200ms;
}